.linksContainer2{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    justify-content: center;
    align-items: center;
  }

.linksContainer2 img{
    width: 112px;
    height: 112px;
    border-radius:360px;
    object-fit: contain;
}

.linksContainer2 p{
    margin-top: 10px;
    font-weight: bolder;
  }